In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("../data/aggregated_df.csv")
data

,Country,GDP_PPP_2007,GDP_PPP_2008,GDP_PPP_2009,GDP_PPP_2010,GDP_PPP_2011,GDP_PPP_2012,GDP_PPP_2013,GDP_PPP_2014,GDP_PPP_2015,...,student_teacher_ratio_2013,student_teacher_ratio_2014,student_teacher_ratio_2015,student_teacher_ratio_2016,student_teacher_ratio_2017,student_teacher_ratio_2018,student_teacher_ratio_2019,student_teacher_ratio_2020,student_teacher_ratio_2021,student_teacher_ratio_2022
0,Austria,39195.210230,41046.588773,40674.463342,41751.770355,44187.934579,46176.661052,47534.358331,48369.190925,49624.985137,...,10.252185,10.253019,10.240578,10.120813,9.977261,10.047712,10.205896,10.238722,10.262351,10.328314
1,Canada,39575.492232,40376.111571,38864.049261,40098.303365,41666.848683,42291.886605,44300.991977,45758.133114,44668.065118,...,15.125340,14.682380,14.971820,14.549720,14.655635,14.971700,14.717540,14.562545,14.046030,14.201270
2,Chile,16771.182748,16449.614266,16028.549544,18041.314313,20235.570348,21458.812331,22295.740021,22650.712398,22563.582179,...,23.959680,22.675073,21.914660,21.153063,20.444073,20.050780,19.255863,19.441177,19.353633,18.742660
3,Colombia,10228.188007,10651.506633,10720.914286,11206.221832,12108.234854,12530.807654,13266.002148,13777.241959,13762.750912,...,22.942370,24.155020,25.624343,25.342410,25.023120,24.853803,24.754853,24.652897,25.111990,24.053017
4,Denmark,39118.963207,41474.145014,40506.924302,43044.876027,44446.578090,44761.579789,46883.131074,47880.687634,48906.109829,...,NaN,11.997303,11.877203,11.491693,11.426423,11.451667,11.369120,11.806180,11.828767,11.871057
5,Estonia,22164.669641,22781.183415,20460.095802,21587.112349,24610.451711,26192.961132,27784.711585,29375.589870,29760.313510,...,12.320601,12.470813,12.707062,12.766683,12.941653,12.992973,12.743470,12.731763,12.818500,12.783100
6,Finland,37844.446396,40081.225921,37968.445255,38950.213166,40845.765750,40738.873438,41325.582876,41539.598953,42250.407743,...,12.739879,12.837293,13.009467,13.176940,13.602319,13.789701,13.279153,12.998809,12.930387,12.855807
7,France,34196.533960,35192.053589,34809.904581,36065.758128,37675.402351,37841.735437,39772.372030,40395.672439,41049.722877,...,15.059297,15.052893,15.084673,15.098873,15.018480,14.901873,14.761120,14.770330,14.705920,14.800603
8,Germany,37496.177323,39084.285618,38216.703187,40469.325876,43398.326075,44229.318933,45888.787920,47938.520790,48545.172477,...,14.148833,13.962203,13.901877,13.804937,13.749847,13.620280,13.445043,13.291873,13.219793,13.234493
9,Hungary,19089.990240,20708.761512,20680.672506,21693.402118,22992.218466,23221.166963,24591.637972,25796.210176,26937.732143,...,11.235535,11.620343,11.100283,10.813513,10.901163,11.014657,10.918227,10.969010,10.590937,10.851477
10,Ireland,46770.887645,44105.364527,41435.299202,43220.666781,45541.043362,46747.472207,48878.658600,52700.504344,71682.507465,...,15.153825,15.136735,15.037790,14.879535,14.530105,14.073005,13.985745,13.349240,13.326680,12.850780
11,Italy,34108.797065,35422.320586,34483.698297,34977.986250,36392.307585,36281.118449,36459.286713,36665.709207,37384.405169,...,12.012560,12.169003,12.120240,10.966925,10.985527,10.955270,10.886180,10.717623,10.608983,10.421251
12,Japan,35021.732224,35278.749846,33550.689549,35342.824721,36215.006272,37628.675989,39436.682585,39559.763471,40908.781547,...,14.342773,14.277370,14.157213,13.950290,13.816083,13.631500,13.443140,13.257817,13.105097,13.052697
13,Korea,30261.823597,31210.873543,30731.306528,33100.819609,33944.005129,35061.450514,35844.149337,37031.923567,39794.154766,...,16.632327,15.994213,15.514877,14.963330,14.535407,14.071360,13.668197,13.437397,13.390983,13.121377
14,Latvia,17275.477109,18631.344752,16557.149355,17345.597965,18626.747774,20500.834599,21848.359368,22968.197149,24134.095624,...,9.720225,9.590629,9.535085,9.659643,10.296083,10.409335,10.669519,11.017378,11.210841,11.449113
15,Lithuania,19113.893072,20735.737350,18167.721780,19827.857027,22701.648971,24567.003447,26563.484034,28005.705212,28846.334473,...,8.614255,8.581324,8.550138,8.480161,8.645735,8.963314,11.175384,11.127999,11.219222,11.652510
16,Netherlands,44204.210589,46713.179000,44936.820525,45307.392096,47004.345499,47653.204285,49623.330638,49751.324397,50956.451344,...,17.061680,17.300237,16.876943,16.939333,16.933433,16.726730,16.687877,16.533180,16.455477,16.001160
17,New Zealand,29273.951597,29748.931565,30574.237506,31127.321554,32639.022600,32917.669788,36085.485818,37089.225918,37255.411712,...,15.359890,15.239137,15.159883,15.229540,15.385883,15.287380,14.986517,15.133240,15.098970,14.851543
18,Norway,56183.130324,62075.513764,55615.474922,58222.617563,62461.202780,65768.753269,67372.928181,66335.459647,60721.583813,...,10.173620,10.114646,10.036071,9.823328,9.890585,9.742070,10.278157,9.763865,9.523435,9.468829
19,Portugal,25738.953427,26665.829666,26458.120577,27295.106753,26782.256510,26434.559390,27921.488260,28713.307665,29540.258688,...,10.676378,10.982289,11.131737,10.837931,10.562389,10.280727,10.205588,10.482560,10.482560,10.028585
20,Slovak Republic,21146.680248,23597.312871,22931.888237,25204.322798,26203.003452,27029.454343,28077.468286,29108.581679,30156.073348,...,14.334467,14.383630,14.094637,14.303647,14.456610,14.519840,14.465337,14.536423,14.516507,14.186570
21,Slovenia,27458.927558,29451.362317,27187.908038,27579.293370,28715.673819,28792.167923,29639.918271,30574.654323,31339.762298,...,12.565173,12.603023,12.600875,11.513403,11.514244,12.036585,12.291015,11.931185,11.846210,12.038065
22,Spain,32530.747305,33328.860097,32198.294782,31818.062213,32019.985381,31885.975798,32629.838139,33781.105344,35257.434902,...,12.126973,12.207727,12.228903,11.998027,12.021613,11.995703,11.892253,11.719400,11.105383,11.099093
23,Sweden,40823.629148,41913.687143,40081.835192,41961.165096,44334.461731,45217.074504,46105.097397,46836.959518,48772.048226,...,12.474617,12.921657,13.165150,13.043530,12.774587,12.756263,12.413850,12.526437,12.571087,12.603920
24,United Kingdom,35525.293924,36734.676772,35031.900055,36491.346386,37208.971903,38336.604981,39947.538393,41266.848849,42515.274630,...,19.221137,16.976930,19.575310,16.071693,16.425567,17.919587,18.075737,18.270167,18.070397,18.143290

In [5]:
VAR_MAP = {
    'gdp': 'GDP_PPP_',
    'edu_exp': 'GDP_Education_Exp_',
    'ict': 'ict_access_pct_pop_',
    'gini': 'gini_coef_',
    'math': 'math_',
    'reading': 'reading_',
    'science': 'science_',
    'hours': 'teaching_hours_',
    'ratio': 'student_teacher_ratio_'
}

PISA_VARS = {'math', 'reading', 'science'}

In [7]:
# Inicializar un diccionario para almacenar los DataFrames
dataframes = {}

# Iterar sobre cada variable y su prefijo en VAR_MAP
for var, prefix in VAR_MAP.items():
    # Seleccionar las columnas que empiezan con el prefijo correspondiente
    cols = ['Country'] + [col for col in data.columns if col.startswith(prefix)]
    
    # Verificar si existen columnas que coincidan con el prefijo
    if len(cols) > 1:
        # Crear el DataFrame para la variable actual
        dataframes[var] = data[cols].copy()
    else:
        print(f"No se encontraron columnas para la variable '{var}' con el prefijo '{prefix}'.")

# Opcional: Mostrar las claves del diccionario para verificar
print(dataframes.keys())

dict_keys(['gdp', 'edu_exp', 'ict', 'gini', 'math', 'reading', 'science', 'hours', 'ratio'])

In [10]:
dataframes['treatment'] = data[['Country', 'Treatment']].copy()
dataframes['treatment']

            Country Treatment
0           Austria       Yes
1            Canada       Yes
2             Chile       Yes
3          Colombia       Yes
4           Denmark        No
5           Estonia       Yes
6           Finland        No
7            France       Yes
8           Germany        No
9           Hungary       Yes
10          Ireland       Yes
11            Italy       Yes
12            Japan       Yes
13            Korea       Yes
14           Latvia       Yes
15        Lithuania       Yes
16      Netherlands        No
17      New Zealand       Yes
18           Norway        No
19         Portugal       Yes
20  Slovak Republic        No
21         Slovenia       Yes
22            Spain       Yes
23           Sweden        No
24   United Kingdom       Yes